[submodule "hugo-blog/themes/ananke"]
	path = hugo-blog/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "hugo-blog/themes/terminal"]
	path = hugo-blog/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "static/garble"]
	path = project_submodules/garble
	url = https://github.com/xbgbtx/garble.git
[submodule "project_submodules/CellularAutomataWebGL"]
	path = project_submodules/CellularAutomataWebGL
	url = https://github.com/xbgbtx/CellularAutomataWebGL.git
[submodule "project_submodules/ArtistMap"]
	path = project_submodules/ArtistMap
	url = https://github.com/xbgbtx/ArtistMap.git
[submodule "project_submodules/CellularAutomataWebGLv2"]
	path = project_submodules/CellularAutomataWebGLv2
	url = https://github.com/xbgbtx/CellularAutomataWebGL.git
[submodule "project_submodules/CellularAutomataWebGLv3"]
	path = project_submodules/CellularAutomataWebGLv3
	url = https://github.com/xbgbtx/CellularAutomataWebGL.git
[submodule "project_submodules/LSystems"]
	path = project_submodules/LSystems
	url = https://github.com/xbgbtx/L-Systems.git
[submodule "project_submodules/interactive-math-notes"]
	path = project_submodules/interactive-math-notes
	url = https://github.com/xbgbtx/interactive-math-notes
