[submodule "hugo-blog/themes/ananke"]
	path = hugo-blog/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "hugo-blog/themes/terminal"]
	path = hugo-blog/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "static/garble"]
	path = static/garble
	url = https://github.com/xbgbtx/garble.git
