body
{
   background-image : url("media/bg.png");
   background-repeat : repeat;
}

@font-face
{
   font-family : xgrid;
   src: url("media/xgrid/xgrid.ttf");
}

@font-face
{
   font-family : data-control;
   src: url("media/data_control/data-latin.ttf");
}

.center-contents
{
   display : grid;
   place-items: center;
}

#top_bar
{
   display : flex;
   align-items: center;
   justify-content : center;
   text-align : center;

   margin-bottom : 20px;

   font-family : xgrid;
   font-size : 75px;
}
.flexrow
{
   display : flex;
   flex-wrap : wrap;
   justify-content : center;
}

.rowitem
{
   flex : 1 1 512px;
   margin : 20px;
}

.flexcol
{
   display : flex;
   flex-direction : column;
   justify-content : center;
}

.control_item
{
}

#control_div
{
   min-width : 512px;
   padding : 20px;
}

#control_div_content
{
   padding : 20px;
   font-family : data-control;
}

#control_div_content label
{
   font-size : 30px;
   margin-top :20px;
}

#about_div
{
   padding : 20px;
   font-family : data-control;
   min-width : 512px;
   padding : 20px;
}
h2
{
   font-size : 50px;
   margin : 5px;
   font-weight : bold;
   text-decoration: underline;
}

.box
{
   background-color: #FFFFFF;
   border: 11px double #000000;
   margin : 20px;
}

canvas
{
   margin : 3px 3px -1px 3px;
}
